.App {
  text-align: center;
}

#userTable {
  margin: auto;
}

.neg {
  color: red;
  background: lightgrey;
  font-size: 36px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 70%;
  margin-left: 15%;
}

.pos {
  color: green;
  background: lightgrey;
  font-size: 36px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 70%;
  margin-left: 15%;
}

.posts {
  margin: auto;
  background-color: aquamarine;
  max-width: 70%;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: coral;
  margin-bottom: 2%;
}

.nappi {
  border-radius: 10px;
  margin-left: 10px;
  font-size: 26px;
  background-color: brown;
  color: white;
}

.customerDetails {
  background-color: powderblue;
  border-style: solid;
  width: 40%;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 10px;
  padding-left: 10%;
  padding-right: 10%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
